/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.testimonial-box {
  position: relative;
  padding: 10px;
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}